<!DOCTYPE html>
<html lang="en">

<head>
  <title>UnderDawgs Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
  	function copyToClipboard(element) {
	  var $temp = $("<input>");
	  $("body").append($temp);
	  $temp.val($(element).text()).select();
	  document.execCommand("copy");
	  $temp.remove();
	}
  </script>

</head>

<body style="margin-top: 50px; text-align: center;">
	<h1>Click to Copy Id</h1>
	<div class="container mt-4">
		<div class="row">
			<div class="row">

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/assemble-heist-crew.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="1" href="#" class="btn btn-primary" onclick="copyToClipboard('#1')">assemble-heist-crew<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/evil-morty.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="2" href="#" class="btn btn-primary" onclick="copyToClipboard('#2')">evil-morty<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/hard-work-pays.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="3" href="#" class="btn btn-primary" onclick="copyToClipboard('#3')">hard-work-pays<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/dope-logo.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="4" href="#" class="btn btn-primary" onclick="copyToClipboard('#4')">dope-logo<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/irl-batman-pwned-us.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="5" href="#" class="btn btn-primary" onclick="copyToClipboard('#5')">irl-batman-pwned-us<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/dont-know-dont-care.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="6" href="#" class="btn btn-primary" onclick="copyToClipboard('#6')">dont-know-dont-care<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/classy-monk.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="7" href="#" class="btn btn-primary" onclick="copyToClipboard('#7')">classy-monk<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/lucky-bug.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="8" href="#" class="btn btn-primary" onclick="copyToClipboard('#8')">lucky-bug<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>

	            <div class="col-lg-3 col-md-4 col-xs-6 thumb text-center mt-4">
	                
	                <img class="img-thumbnail"
	                     src="/img/lazy-af.png"
	                     alt="Another alt text">

	                <p class="mt-1">Image ID:</p>

	                <a id="9" href="#" class="btn btn-primary" onclick="copyToClipboard('#9')">lazy-af<i class="fa fa-copy" aria-hidden="true"></i></a>
	                
	            </div>


			</div>
		</div>
	</div>

</body>